@charset "UTF-8";@charset "UTF-8";

.channel_add_insert {
	display: none;
	position: fixed;
	top: 35%;
	left: 35%;

}

.chat_container {
	
	position: fixed;
	width: 50%;
	height: 80%;
	border: 1px solid black;
	top: 10%;
	left: 40%;
}

#chatinfo {
	height: 10%;
}

#chatarea {
	height: 80%;
	background-color: skyblue;
	overflow: auto;
}

#texteditor {
	height: 10%;	
}

